BRTDOHAC_vscode/Natural-Libraries/BRTDOHAC/Resources/XMLSC01.xsd

<?xml version='1.0' encoding='UTF-8' ?>
<!--W3C Schema generated by Natural XML Toolkit NFE version (www.softwareag.com)-->
<xs:schema xmlns:xs='http://www.w3.org/2001/XMLSchema'>
<xs:element name='REG'>
<xs:complexType>
<xs:sequence>
<xs:element ref='hash_PERSONNEL-ID'/>
<xs:element ref='hash_FIRST-NAME'/>
<xs:element ref='hash_SEX'/>
<xs:element ref='hash_BIRTH'/>
<xs:element ref='hash_DEPT'/>
<xs:element ref='hash_JOB-TITLE'/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name='hash_PERSONNEL-ID'>
<xs:simpleType>
<xs:restriction base='xs:string'>
<!-- string/(A8) -->
<xs:maxLength value='8'/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name='hash_FIRST-NAME'>
<xs:simpleType>
<xs:restriction base='xs:string'>
<!-- string/(A20) -->
<xs:maxLength value='20'/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name='hash_SEX'>
<xs:simpleType>
<xs:restriction base='xs:string'>
<!-- string/(A1) -->
<xs:maxLength value='1'/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name='hash_BIRTH'>
<xs:simpleType>
<xs:restriction base='xs:string'>
<!-- string/(D) -->
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name='hash_DEPT'>
<xs:simpleType>
<xs:restriction base='xs:string'>
<!-- string/(A6) -->
<xs:maxLength value='6'/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name='hash_JOB-TITLE'>
<xs:simpleType>
<xs:restriction base='xs:string'>
<!-- string/(A25) -->
<xs:maxLength value='25'/>
</xs:restriction>
</xs:simpleType>
</xs:element>
</xs:schema>